h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0rem 1rem 3rem;
}

span {
    background: rgb(247, 186, 186);
}